
$color1: #F0EEEA;
@import 'style.scss';
.button {
    /* block */
    display: inline-block;
    padding: 1rem 1.25rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* decoration */
    border-radius: 10px;
    /* font decoration */
    text-decoration: none;
    text-align: center;
    font: $button1 ;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* animation */
    transition: all 1s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $colorblue_1;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($colorblue_1, 15%);
        transition: all 1s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
/* optional reset for presentation */
.light-button {
    /* block */
    display: inline-block;
    padding: 1rem 1.25rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* decoration */
    border-radius: 10px;
    /* font decoration */
    text-align: center;
    font:  normal 400 16px/144.52% 'EB Garamond', serif;;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #161202;
    text-decoration: none;
    /* animation */
    transition: all 1s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color1;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color1, 15%);
        transition: all 1s;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
    
}
@media (max-width: 767px) {
    .button {
      padding: 10px 10px;
      line-height: 20px;
      font-size: 14px;
    }
    .light-button {
      padding: 10px 10px;
      line-height: 20px;
      font-size: 14px;
    }
}

